@import "tailwindcss";

@theme {
	--color-black-100: #6b6b6b;
	--color-black-200: #525252;
	--color-black-300: #373737;
	--color-black-400: #1f1f1f;
	--color-black-500: #040404;
	--color-gray-scale-50: #ffffff;
	--color-gray-scale-100: #dedede;
	--color-gray-scale-200: #c4c4c4;
	--color-gray-scale-300: #ababab;
	--color-gray-scale-400: #999999;
	--color-gray-scale-500: #808080;
	--color-primary-blue-100: #6edce9;
	--color-primary-blue-200: #86c9dc;
	--color-primary-blue-300: #5fa4cc;
	--color-primary-blue-400: #1b92ff;
	--color-primary-blue-500: #4886b5;
	--color-primary-blue-600: #3c4a7e;
	--color-primary-blue-700: #262e52;
	--color-secondary-yellow-100: #fed344;
	--color-secondary-red-100: #ff9c9e;
	--color-secondary-red-200: #d6757d;
	--color-secondary-red-300: #ff4f64;
	--color-orange: #ff8c00;
	--color-orange-hover: #e67a00;
	--color-primary-green-50: #fbfaee;
	--color-primary-green-100: #e5f9e0;
	--color-primary-green-200: #ceefca;
	--color-primary-green-300: #97ca9b;
	--color-primary-green-400: #72c380;
	--color-primary-green-500: #6ead79;
	--color-primary-green-600: #479b5d;
	--color-primary-green-700: #307548;
	--color-primary-green-800: #15452a;
	--color-primary-green-900: #0a2215;
	--color-secondary-green-sheen: #6db69d;
	--color-scondary-keppel: #47a6a0;
	--color-secondary-verdigris: #4aa5a2;
}

@theme {
	--shadow-line-100: 0 1px 0 0 #f2f2f2;
	--shadow-line-200: 0 1px 0 0 #e6e6e6;
}

@theme {
	--text-xs: 12px;
	--text-sm: 13px;
	--text-md: 14px;
	--text-lg: 16px;
	--text-2lg: 18px;
	--text-xl: 20px;
	--text-2xl: 24px;
	--text-3xl: 28px;
}

:root {
	--background: #ffffff;
	--foreground: #171717;
	--font-family: "Pretendard", sans-serif;
	--font-feature-settings: "ss05";
	font-feature-settings: "ss05";
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: "Pretendard", sans-serif;
	--font-mono: "Pretendard", sans-serif;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: "Pretendard", sans-serif;
}

.codeblock-group {
	display: flex;
	flex-direction: column;
}

.codeblock-lang {
	background: #e5e7eb;
	color: #000;
	font-size: 12px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	padding: 4px 12px 2px 12px;
	border-bottom: 1px solid #d1d5db;
}

.codeblock-group pre {
	background: #f4f4f4;
	border-radius: 0 0 6px 6px;
	padding: 10px 14px;
	font-size: 13px;
	overflow-x: auto;
}

code {
	background: #e5e7eb;
	border-radius: 4px;
	padding: 2px 6px;
	font-size: 13px;
	font-weight: 700;
}

strong {
	font-weight: bold;
	color: #15803d; /* Tailwind의 primary-green-700 */
}
